.dot {
  fill: lightsteelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dragging {
  fill: red;
  stroke: brown;
}

line {
  /*fill: none;*/
  stroke: #955;
  /*vector-effect: non-scaling-stroke;*/
}

line.slabWall {
  shape-rendering: crispEdges;
  stroke: #ddd;
}

.editMode .slabWall {
  visibility: hidden;
}