.dot {
  fill: lightsteelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.editMode .dot {
  cursor: pointer;
}

.deleteMode .dot {
  cursor: crosshair;
}

.dragging {
  fill: red;
  stroke: brown;
}

line {
  /*fill: none;*/
  stroke: #955;
  /*vector-effect: non-scaling-stroke;*/
}

line.slabWall {
  shape-rendering: crispEdges;
  stroke: #ddd;
}

.editMode .slabWall {
  visibility: hidden;
}

.rbtLink {
  fill: none;
  stroke: #000;
}

.right {
  float: right;
}

.left {
  float: left;
}

.p {
  clear: both;
  width: 970px;
}